.cartItem{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.cartItem .cart-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cart-price-card{
    width: 30%;
    padding: 20px;
}
.cart-price-card button{
    width: 100%;
    margin-top: 5px;
}
.cart-price-card p{
    padding: 5px;
}
.cartItem img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    overflow: hidden;
}
.cart-heading{
    display: flex;
    text-align: center;
    color: gray;
    padding-bottom: 20px;
}
.cart-heading p{
    font-weight: bold;
}
.clearBtn svg{
    color: rgb(172, 171, 171);
    height: 20px;
}
.cart-price-card button{
    background-color:rgba(29, 29, 29, 0.877);
    margin:5% 25%;
}
.cart-price-card button:hover{
    background-color: rgb(29, 29, 29);
}