.Auth .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:30px;
    width:400px;
    padding: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.151);
}
.Auth input{
    width: 350px;
}