.home-banner{
    width: 100%;
    height: 50%;
    background-image: url(../../assets/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    margin-bottom: 1rem;
}
.home-banner .content{
    color: white;
    font-weight: bold;
    padding: 2%;
    width: 40%;
}
.home-banner img{
    width: 50%;
}