.Auth .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:50px;
    width:500px;
    padding: 3rem;
}
.Auth input{
    width: 350px;
}