.contact .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:50px;
    width:500px;
    padding: 2rem;
}
.contact input{
    width: 350px;
}
.contact form p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact{
    margin-top: 5%;
    margin-bottom: 5%;
}