body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto';
  user-select: none !important;
  overflow-x: hidden !important;
  width: 100vw;
  height: 100vh;
}

img{
  overflow: hidden;
  object-fit: cover;
}
a{
  text-decoration: none !important;
  color: black;
}